*
{
    margin: 0;
    padding: 0;
}
*::selection
{
    color: #fff;
    background: #000;
}
#body
{
    background: #000;
    color: #fff;
    transition: 0.2s ease;
    width: 100%;
    height: 100%;
    background-image: url(./H.M\,Images/mohenjodaro/mohenjodaro1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: GeoBrandRegular,CenturyGothic,AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
}
.body-div
{
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.5));
    height: 100vh;
    width: 100vw;
}
.navbar-top .navbar
{
    background: rgba(0, 0, 0, 0.349);
}
.navbar-top .navbar-brand
{
    font-family: 'Pittsbrook Outline';
    width: 350px;
    transition: .2s ease;
}
.navbar-top .navbar-brand:hover
{
    transform: scale(1.009);
    color: rgb(230, 225, 225);
    transition: .3s ease;
}
.nav-top .nav-item .nav-link
{
    margin-left: 10px;
    border-radius: 25px;
    margin-right: 1px;
    padding: 3px 7px;
    color: #fff;
    border: 2px solid transparent;
    transition: .3s ease;
}
.nav-top .nav-item .nav-link:hover
{
    color: #fff;
    background: black;
    border: 2px dotted #fff;
    transition: .3s ease;
    border-radius: 25px;
    padding: 3px 7px;
}
.nav-top .monuments-2 .nav-link
{
    margin-left: 10px;
    border-radius: 25px;
    margin-right: 1px;
    padding: 3px 7px;
    color: #fff;
    border: 2px solid transparent;
    transition: .3s ease;
}
.nav-top .monuments-2 .nav-link:hover
{
    color: #fff;
    background: black;
    border: 2px dotted #fff;
    transition: .3s ease;
    border-radius: 25px;
    padding: 3px 7px;
}
.nav-top .monuments-2 .dropdown-menu
{
    background: transparent;
    border: none;
    margin-left: 100px;
}
.nav-top .monuments-2 .dropdown-menu li a
{
    color: #fff;
    border: 2px dotted transparent;
    transition: .3s ease;
    border-radius: 25px;
    padding: 3px 7px;
}
.nav-top .monuments-2 .dropdown-menu li a:hover
{
    background: #000;
    border: 2px dotted #fff;
    transition: .3s ease;
    border-radius: 25px;
    padding: 3px 7px;
}
.nav-top .gallery-drpdwn .nav-link
{
    margin-left: 10px;
    border-radius: 25px;
    margin-right: 1px;
    padding: 3px 7px;
    color: #fff;
    border: 2px solid transparent;
    transition: .3s ease;
}
.nav-top .gallery-drpdwn .nav-link:hover
{
    color: #fff;
    background: black;
    border: 2px dotted #fff;
    transition: .3s ease;
    border-radius: 25px;
    padding: 3px 7px;
}
.nav-top .gallery-drpdwn .dropdown-menu
{
    background: rgba(255, 255, 255, 0.420);
    border: 1px solid #ffff;
    margin-left: 680px;
    font-weight: bold;
}
.nav-top .gallery-drpdwn .dropdown-menu:hover
{
    background: #ffff;
    border: none;
}
.nav-top .gallery-drpdwn .dropdown-menu li a
{
    color: #000;
    border: 2px dotted transparent;
    background: transparent;
    transition: .3s ease;
    border-radius: 25px;
    padding: 3px 7px;
}
.nav-top .gallery-drpdwn .dropdown-menu li a:hover
{
    background: #000;
    color: #fff;
    border: 2px dotted #fff;
    transition: .3s ease;
    border-radius: 25px;
    padding: 3px 7px;
}
.nav-dropdown
{
    height: 85.6vh;
    width: 100%;
    color: #000;
    background: #fff; 
    /* background: rgba(0, 0, 0, 0.072); */
    display: none;
}
.nav-dropdown .navbar-brand
{
    color: #000;
}
.nav-dropdown .navbar-brand .b-btm
{
    border-bottom: 2px solid;
}
.nav-dropdown .main-list .nav-link
{
    text-decoration: none;
    color: #000;
    font-size: 23px;
}
.nav-dropdown .main-list .nav-link:hover
{
    font-weight: 600;
}
.nav-dropdown .main-list #Pakistan
{
    font-weight: 600;
}
.nav-dropdown .sub-icons .nav-link
{
    color: #000;
}
.nav-dropdown .sub-ul nav
{
    width: 150px;
    height: 100%;
    margin-left: 350px;
    margin-top: -205px;
}
.nav-dropdown .paksub .nav-link span
{
    color: #000;
    font-size: 20px;
    font-weight: 300;
    background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 1px no-repeat;
    transition:0.2s;
}
.nav-dropdown .paksub .nav-link span:hover
{
    font-weight: normal;
    --d: 100%;
}
.nav-dropdown .northsub .nav-link span
{
    color: #000;
    font-size: 20px;
    font-weight: 300;
    background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 1px no-repeat;
    transition:0.2s;
}
.nav-dropdown .northsub .nav-link span:hover
{
    font-weight: normal;
    --d: 100%;
}
.nav-dropdown .eastsub .nav-link span
{
    color: #000;
    font-size: 20px;
    font-weight: 300;
    background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 1px no-repeat;
    transition:0.2s;
}
.nav-dropdown .eastsub .nav-link span:hover
{
    font-weight: normal;
    --d: 100%;
}
.nav-dropdown .westsub .nav-link span
{
    color: #000;
    font-size: 20px;
    font-weight: 300;
    background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 1px no-repeat;
    transition:0.2s;
}
.nav-dropdown .westsub .nav-link span:hover
{
    font-weight: normal;
    --d: 100%;
}
.nav-dropdown .southsub .nav-link span
{
    color: #000;
    font-size: 20px;
    font-weight: 300;
    background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 1px no-repeat;
    transition:0.2s;
}
.nav-dropdown .southsub .nav-link span:hover
{
    font-weight: normal;
    --d: 100%;
}
.nav-dropdown .dropdown-img-part .nav-img-contain img
{
    height: 280px;
    width: 350px;
    border-radius: 20px;
    border: 1px solid #000;
}



.nav-dropdown1
{
    height: 85.6vh;
    width: 100%;
    color: #000;
    background: #fff; 
    /* background: rgba(0, 0, 0, 0.072); */
    display: none;
}
.nav-dropdown1 .navbar-brand1
{
    color: #000;
    text-decoration: none;
}
.nav-dropdown1 .navbar-brand1 .b-btm
{
    border-bottom: 2px solid;
}
.nav-dropdown1 .main-list1 .nav-link span
{
    text-decoration: none;
    color: #000;
    font-size: 23px;
    background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 1px no-repeat;
    transition:0.2s;
}
.nav-dropdown1 .main-list1 .nav-link span:hover
{
    font-weight: 600;
    --d: 100%;
}
.nav-dropdown1 .dropdown-img-part1 .nav-img-contain1
{
    box-sizing: border-box;
}
.nav-dropdown1 .dropdown-img-part1 .nav-img-contain1 img
{
    height: 280px;
    width: 350px;
    border-radius: 20px;
}

.nav-dropdown2
{
    height: 85.6vh;
    width: 100%;
    color: #000;
    background: #fff; 
    /* background: rgba(0, 0, 0, 0.072); */
    display: none;
}
.nav-dropdown2 .navbar-brand2
{
    color: #000;
    text-decoration: none;
}
.nav-dropdown2 .navbar-brand2 .b-btm
{
    border-bottom: 2px solid;
}
.nav-dropdown2 .main-list2 .nav-link span
{
    text-decoration: none;
    color: #000;
    font-size: 23px;
    background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 1px no-repeat;
    transition:0.2s;
}
.nav-dropdown2 .main-list2 .nav-link span:hover
{
    font-weight: 600;
    --d: 100%;
}
.nav-dropdown2 .feedback
{
    display: block;
}
.nav-dropdown2 .question
{
    display: none;
}
.nav-dropdown2 .social
{
    display: none;
}



.header-content .welcome a
{
    transition: .3s linear;
}
.header-content .welcome a:hover
{
    font-weight: bold;
    background: #000;
    color: #fff;
    transform: scale(1.05);
    transition: .3s ease;
    border: 1px dotted;
    border-radius: 15px;
}
.header-content .welcome .change-content
{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 2px;
    font-weight: 700;
}
/* @keyframes change-text
{
    0%{content: " glimpse of our past...";}
    40%{content: " beauty of architecture...";}
    60%{content: " culture n tradition...";}
    90%{content: " historical monuments...";}
    100%{content: " glimpse of our past...";}
}*/
.header-cards img
{
    height: 230px;
    width: 275px;
    transition: 1.5s;
}
.header-cards figure figcaption .card .card-body a:hover
{
    transform: scale(1.05);
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    font-weight: bold;
    transition: .2s;
    border-radius: 15px;
}

#modalfeedback
{
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.8));
}
#frm input[type=text],input[type=email],input[type=password], select, textarea {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
#frm label {
    width:100%;
    display:block;
    font-weight: bold;
}

#frm .abc label
{
    font-weight: normal;
}

#frm input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#frm input[type=submit]:hover {
  background-color: #45a049;
}

#frm .error{
    color:red;
    width:100%;
}



#modalcontact
{
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.8));
}
#frm1 input[type=text],input[type=email],input[type=password], select, textarea {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
#frm1 label {
    width:100px;
    display:inline-block;
    font-weight: bold;
}

#frm1 input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#frm1 input[type=submit]:hover {
  background-color: #45a049;
}

#frm1 .error{
    color:red;
    width:100%;
}






/* .navbar-top .navbar
{
    background: transparent;
}
.navbar-top .navbar-brand
{
    font-family: 'Pittsbrook Outline';
    width: 350px;
    transition: .2s ease;
}
.navbar-top .navbar-brand:hover
{
    transform: scale(1.009);
    color: rgb(230, 225, 225);
    transition: .3s ease;
}
.nav-top .nav-item .nav-link
{
    margin-left: 10px;
    border-radius: 25px;
    margin-right: 1px;
    padding: 3px 7px;
    color: #fff;
    border: 2px solid transparent;
    transition: .3s ease;
}
.nav-top .nav-item .nav-link:hover
{
    color: #fff;
    background: black;
    border: 2px dotted #fff;
    transition: .3s ease;
    border-radius: 25px;
    padding: 3px 7px;
}
.nav-dropdown
{
    height: 88vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.072);
    display: none;
    /* position: relative;
} */

.main-div-1 img
{
    height: 300px;
    width: 100%;
    object-fit: cover;
}




/* MediaQueries */
@media screen , (min-width: 1200) and (max-width: 5000px) {
    .nav-top .wonders-2
    {
        display: none;
    }
    .nav-top .monuments-2
    {
        display: none;
    }
    .nav-top .wonders-1
    {
        display: block;
    }
    .nav-top .monuments-1
    {
        display: block;
    }
}
@media screen and (max-width: 1199px) {
    .nav-top .nav-item .sm
    {
        width: 75px;
    }.nav-top .nav-item .md
    {
        width: 115px;
    }.nav-top .nav-item .lg
    {
        width: 200px;
    }
    .nav-top .wonders-1
    {
        display: none;
    }
    .nav-top .monuments-1
    {
        display: none;
    }
    .nav-top .wonders-2
    {
        display: block;
    }
    .nav-top .monuments-2
    {
        display: block;
    }
}
@media screen and (max-width: 991px) {
    .header-content .header-cards figure figcaption .card p
    {
        font-size: 113%;
        text-align: center;
    }
    .header-content .header-cards figure img
    {
        height: 180px;
    }
    .header-content .header-cards figure figcaption .card .card-body a
    {
        font-size: 80%;
        font-weight: 500;
    }
}
@media screen and (max-width: 767px) {
    .header-cards
    {
        display: none;
    }
    .header-content .welcome p
    {
        width: 100%;
        padding-top: 70px;
        text-align: center;
    }
    .header-content .welcome .d-grid
    {
        width: 100%;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-dropdown
    {
        display: none;
    }
}